<div id="selected-cards-container" class="cards-container cards-container-selected">
  <div *ngFor="let exercise of selectedExercises" class="card" (click)="removeExercise(exercise)" [@fold]>
    <div class="card-header">{{ exercise.name }}</div>
    <div class="card-body">
      {{ exercise.muscle }}
    </div>
  </div>
</div>
<div class="cards-container">
  <div *ngFor="let exercise of exercises" class="card" (click)="selectExercise(exercise)" [@fold]>
    <div class="card-header">{{ exercise.name }}</div>
    <div class="card-body">
      {{ exercise.muscle }}
    </div>
  </div>
</div>